<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.experiment2.dao.ClassInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.experiment2.bean.ClassInfo">
    <id column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="student_num" jdbcType="INTEGER" property="studentNum" />
    <result column="monitor" jdbcType="VARCHAR" property="monitor" />
    <result column="study_committee" jdbcType="VARCHAR" property="studyCommittee" />
    <result column="life_committee" jdbcType="VARCHAR" property="lifeCommittee" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    class_name, student_num, monitor, study_committee, life_committee
  </sql>
  <select id="selectByExample" parameterType="com.example.experiment2.bean.ClassInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from class_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from class_info
    where class_name = #{className,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from class_info
    where class_name = #{className,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.experiment2.bean.ClassInfoExample">
    delete from class_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.experiment2.bean.ClassInfo">
    insert into class_info (class_name, student_num, monitor, 
      study_committee, life_committee)
    values (#{className,jdbcType=VARCHAR}, #{studentNum,jdbcType=INTEGER}, #{monitor,jdbcType=VARCHAR}, 
      #{studyCommittee,jdbcType=VARCHAR}, #{lifeCommittee,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.experiment2.bean.ClassInfo">
    insert into class_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="className != null">
        class_name,
      </if>
      <if test="studentNum != null">
        student_num,
      </if>
      <if test="monitor != null">
        monitor,
      </if>
      <if test="studyCommittee != null">
        study_committee,
      </if>
      <if test="lifeCommittee != null">
        life_committee,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="studentNum != null">
        #{studentNum,jdbcType=INTEGER},
      </if>
      <if test="monitor != null">
        #{monitor,jdbcType=VARCHAR},
      </if>
      <if test="studyCommittee != null">
        #{studyCommittee,jdbcType=VARCHAR},
      </if>
      <if test="lifeCommittee != null">
        #{lifeCommittee,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.experiment2.bean.ClassInfoExample" resultType="java.lang.Long">
    select count(*) from class_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update class_info
    <set>
      <if test="record.className != null">
        class_name = #{record.className,jdbcType=VARCHAR},
      </if>
      <if test="record.studentNum != null">
        student_num = #{record.studentNum,jdbcType=INTEGER},
      </if>
      <if test="record.monitor != null">
        monitor = #{record.monitor,jdbcType=VARCHAR},
      </if>
      <if test="record.studyCommittee != null">
        study_committee = #{record.studyCommittee,jdbcType=VARCHAR},
      </if>
      <if test="record.lifeCommittee != null">
        life_committee = #{record.lifeCommittee,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update class_info
    set class_name = #{record.className,jdbcType=VARCHAR},
      student_num = #{record.studentNum,jdbcType=INTEGER},
      monitor = #{record.monitor,jdbcType=VARCHAR},
      study_committee = #{record.studyCommittee,jdbcType=VARCHAR},
      life_committee = #{record.lifeCommittee,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.experiment2.bean.ClassInfo">
    update class_info
    <set>
      <if test="studentNum != null">
        student_num = #{studentNum,jdbcType=INTEGER},
      </if>
      <if test="monitor != null">
        monitor = #{monitor,jdbcType=VARCHAR},
      </if>
      <if test="studyCommittee != null">
        study_committee = #{studyCommittee,jdbcType=VARCHAR},
      </if>
      <if test="lifeCommittee != null">
        life_committee = #{lifeCommittee,jdbcType=VARCHAR},
      </if>
    </set>
    where class_name = #{className,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.experiment2.bean.ClassInfo">
    update class_info
    set student_num = #{studentNum,jdbcType=INTEGER},
      monitor = #{monitor,jdbcType=VARCHAR},
      study_committee = #{studyCommittee,jdbcType=VARCHAR},
      life_committee = #{lifeCommittee,jdbcType=VARCHAR}
    where class_name = #{className,jdbcType=VARCHAR}
  </update>
</mapper>